{"openapi":"3.1.0","info":{"title":"Deadlock API","description":"\n## API Clients\n\nWe have auto generated and updated clients for many languages. You can find them here: [https://github.com/deadlock-api/openapi-clients](https://github.com/deadlock-api/openapi-clients)\n\n## Support the Deadlock API\n\nWhether you're building your own database, developing data science projects, or enhancing your website with game and player analytics, the Deadlock API has the data you need.\n\nYour sponsorship helps keep this resource open, free and future-proof for everyone. By supporting the Deadlock API, you will enable continued development, new features and reliable access for developers, analysts and streamers worldwide.\n\nHelp us continue to provide the data you need - sponsor the Deadlock API today!\n\n**-> You can Sponsor the Deadlock API on [Patreon](https://www.patreon.com/c/user?u=68961896) or [GitHub](https://github.com/sponsors/raimannma)**\n\n## Disclaimer\n_deadlock-api.com is not endorsed by Valve and does not reflect the views or opinions of Valve or anyone officially involved in producing or managing Valve properties. Valve and all associated properties are trademarks or registered trademarks of Valve Corporation_\n        ","contact":{"name":"Deadlock API - Discord","url":"https://discord.gg/XMF9Xrgfqu"},"license":{"name":"MIT","url":"https://github.com/deadlock-api/deadlock-api/blob/master/LICENSE"},"version":"0.1.0"},"servers":[{"url":"https://api.deadlock-api.com"}],"paths":{"/v1/analytics/ability-order-stats":{"get":{"tags":["Analytics"],"summary":"Ability Order Stats","description":"\nRetrieves statistics for the ability order of a hero.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"ability_order_stats","parameters":[{"name":"hero_id","in":"query","description":"See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":true,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_ability_upgrades","in":"query","description":"Filter players based on their minimum number of ability upgrades over the whole match.","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":16,"minimum":0}},{"name":"max_ability_upgrades","in":"query","description":"Filter players based on their maximum number of ability upgrades over the whole match.","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":16,"minimum":1}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for an ability order to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":20,"minimum":1}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include (only players who have purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude (only players who have not purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}}],"responses":{"200":{"description":"Ability Order Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsAbilityOrderStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch ability order stats"}}}},"/v1/analytics/badge-distribution":{"get":{"tags":["Analytics"],"summary":"Badge Distribution","description":"\nThis endpoint returns the player badge distribution.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"badge_distribution","parameters":[{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"is_high_skill_range_parties","in":"query","description":"Filter matches based on whether they are in the high skill range.","required":false,"schema":{"type":["boolean","null"]}},{"name":"is_low_pri_pool","in":"query","description":"Filter matches based on whether they are in the low priority pool.","required":false,"schema":{"type":["boolean","null"]}},{"name":"is_new_player_pool","in":"query","description":"Filter matches based on whether they are in the new player pool.","required":false,"schema":{"type":["boolean","null"]}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}}],"responses":{"200":{"description":"Badge Distribution","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BadgeDistribution"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch badge distribution"}}}},"/v1/analytics/build-item-stats":{"get":{"tags":["Analytics"],"summary":"Build Item Stats","description":"\nRetrieves item statistics from hero builds.\n\nResults are cached for **1 hour** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"build_item_stats","parameters":[{"name":"hero_id","in":"query","description":"Filter builds based on the hero ID. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_last_updated_unix_timestamp","in":"query","description":"Filter builds based on their last updated time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_last_updated_unix_timestamp","in":"query","description":"Filter builds based on their last updated time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}}],"responses":{"200":{"description":"Build Item Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuildItemStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch build item stats"}}}},"/v1/analytics/game-stats":{"get":{"tags":["Analytics"],"summary":"Game Stats","description":"\nRetrieves aggregate game-level statistics.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"game_stats","parameters":[{"name":"bucket","in":"query","description":"Bucket allows you to group the stats by a specific field.","required":false,"schema":{"type":"string","enum":["no_bucket","avg_badge","start_time_hour","start_time_day","start_time_week","start_time_month"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>\nOnly works for `game_modes` with badge data (e.g. `normal`, not `street_brawl`).","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>\nOnly works for `game_modes` with badge data (e.g. `normal`, not `street_brawl`).","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"hero_ids","in":"query","description":"Comma separated list of hero ids to include. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include (only players who have purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude (only players who have not purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Game Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsGameStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch game stats"}}}},"/v1/analytics/hero-ban-stats":{"get":{"tags":["Analytics"],"summary":"Hero Ban Stats","description":"\nRetrieves ban statistics for each hero based on historical match data from demo analysis.\n\nOnly matches with successfully extracted ban data are included. Matches where ban extraction failed (empty `banned_hero_ids`) are excluded entirely.\n\nResults are cached for **1 hour** based on the combination of query parameters provided.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"hero_ban_stats","parameters":[{"name":"bucket","in":"query","description":"Bucket allows you to group the stats by a specific field.","required":false,"schema":{"type":"string","enum":["no_bucket","avg_badge","start_time_hour","start_time_day","start_time_week","start_time_month"]}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. **Minimum:** March 1, 2026.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}}],"responses":{"200":{"description":"Hero Ban Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroBanStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero ban stats"}}}},"/v1/analytics/hero-build-stats/{hero_id}":{"get":{"tags":["Analytics"],"summary":"Hero Build Stats","description":"\nRetrieves performance statistics for hero builds based on historical match data from demo analysis.\n\nOnly includes builds that exist in the hero builds database.\n\nThe `hero_build_id` is the first build the player had selected when the game started. It does not reflect any build changes made during the match.\n\nResults are cached for **1 hour** based on the combination of query parameters provided.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"hero_build_stats","parameters":[{"name":"hero_id","in":"path","description":"The hero ID to fetch build stats for. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":true,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. **Minimum:** March 1, 2026.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"hero_build_id","in":"query","description":"Filter results for a specific hero build.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for a build to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":20,"minimum":1}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Build Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroBuildStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero build stats"}}}},"/v1/analytics/hero-comb-stats":{"get":{"tags":["Analytics"],"summary":"Hero Comb Stats","description":"\nRetrieves overall statistics for each hero combination.\n\nResults are cached for **1 hour**. The cache key is determined by the specific combination of filter parameters used in the query. Subsequent requests using the exact same filters within this timeframe will receive the cached response.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"hero_comb_stats","parameters":[{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"include_hero_ids","in":"query","description":"Comma separated list of hero ids to include. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_hero_ids","in":"query","description":"Comma separated list of hero ids to exclude. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"include_enemy_hero_ids","in":"query","description":"Comma separated list of enemy hero ids to include. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_enemy_hero_ids","in":"query","description":"Comma separated list of enemy hero ids to exclude. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":20,"minimum":1}},{"name":"max_matches","in":"query","description":"The maximum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"comb_size","in":"query","description":"The combination size to return.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":6,"maximum":6,"minimum":2}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Comb Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroCombStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero comb stats"}}}},"/v1/analytics/hero-counter-stats":{"get":{"tags":["Analytics"],"summary":"Hero Counter Stats","description":"\nRetrieves hero-versus-hero matchup statistics based on historical match data.\n\nThis endpoint analyzes completed matches to calculate how often a specific hero (`hero_id`) wins against an enemy hero (`enemy_hero_id`) and the total number of times they have faced each other under the specified filter conditions.\n\nResults are cached for **1 hour** based on the combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"hero_counters_stats","parameters":[{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_enemy_networth","in":"query","description":"Filter enemy players based on their net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_enemy_networth","in":"query","description":"Filter enemy players based on their net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"same_lane_filter","in":"query","description":"When `true`, only considers matchups where both `hero_id` and `enemy_hero_id` were assigned to the same lane (e.g., both Mid Lane). When `false`, considers all matchups regardless of assigned lane.","required":false,"schema":{"type":["boolean","null"],"default":true}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":20,"minimum":1}},{"name":"max_matches","in":"query","description":"The maximum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Counter Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroCounterStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero counter stats"}}}},"/v1/analytics/hero-stats":{"get":{"tags":["Analytics"],"summary":"Hero Stats","description":"\nRetrieves performance statistics for each hero based on historical match data.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"hero_stats","parameters":[{"name":"bucket","in":"query","description":"Bucket allows you to group the stats by a specific field.","required":false,"schema":{"type":"string","enum":["no_bucket","avg_badge","start_time_hour","start_time_day","start_time_week","start_time_month"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_hero_matches","in":"query","description":"Filter players based on the number of matches they have played with a specific hero within the filtered time range.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_hero_matches","in":"query","description":"Filter players based on the number of matches they have played with a specific hero within the filtered time range.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_hero_matches_total","in":"query","description":"Filter players based on the number of matches they have played with a specific hero in their entire history.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_hero_matches_total","in":"query","description":"Filter players based on the number of matches they have played with a specific hero in their entire history.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include (only players who have purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude (only players who have not purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsHeroStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero stats"}}}},"/v1/analytics/hero-synergy-stats":{"get":{"tags":["Analytics"],"summary":"Hero Synergy Stats","description":"\nRetrieves hero pair synergy statistics based on historical match data.\n\nThis endpoint analyzes completed matches to calculate how often a specific pair of heroes (`hero_id1` and `hero_id2`) won when playing *together on the same team*, and the total number of times they have played together under the specified filter conditions.\n\nResults are cached for **1 hour** based on the combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"hero_synergies_stats","parameters":[{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"same_lane_filter","in":"query","description":"When `true`, only considers matchups where both `hero_id1` and `hero_id2` were assigned to the same lane (e.g., both Mid Lane). When `false`, considers all matchups regardless of assigned lane.","required":false,"schema":{"type":["boolean","null"],"default":true}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":20,"minimum":1}},{"name":"max_matches","in":"query","description":"The maximum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Synergy Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroSynergyStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero synergy stats"}}}},"/v1/analytics/item-flow-stats":{"get":{"tags":["Analytics"],"summary":"Item Flow Stats","description":"\nRetrieves item build-flow statistics: per-phase item win/pick rates and the transitions between them.\n\nItems are grouped into columns by the in-match phase they were bought in (controlled by\n`phase_interval_s` and `phase_count`). The response contains `nodes` (items aggregated within a phase)\nand `edges` (transitions between an item and items in the next phase). A locked build path can be\nsupplied via `locked_item_ids` / `locked_columns` to restrict the population to players who bought\nthose items in the given stage columns.\n\nEach node also carries `adjusted_win_rate`: the item's win rate standardized to the stage's\nnet-worth-at-buy distribution. Because players who are already ahead have more souls and buy items\nsooner, raw win rate is heavily confounded by wealth; the adjusted figure re-weights each item's win\nrate across net-worth buckets to the stage-wide distribution, isolating the item's contribution from\nthe buyer's lead. It is still observational, not a controlled/causal estimate. `reached_per_column`\ngives the distinct baseline games that bought any upgrade in each column, so consumers can show how\nsurvivorship-selected (e.g. long-game-only) a late stage is.\n\nResults are cached for **1 hour** based on the unique combination of query parameters provided.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"item_flow_stats","parameters":[{"name":"phase_interval_s","in":"query","description":"Deprecated/unused. `normal` mode uses fixed phase boundaries (0-9m, 9-20m, 20-30m, 30m+)\naligned to the stats time-series; `street_brawl` columns are rounds.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":600,"minimum":1}},{"name":"phase_count","in":"query","description":"Number of columns for `street_brawl` (rounds). Ignored for `normal`, which has fixed time\nphases. **Default:** 4.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":4,"maximum":12,"minimum":2}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"hero_ids","in":"query","description":"Filter matches based on the hero IDs. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_matches","in":"query","description":"The minimum number of matches for a node or edge to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":20,"minimum":1}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include (only players who have purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude (only players who have not purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"locked_item_ids","in":"query","description":"Comma separated list of item ids forming a \"locked\" build path. Pairs positionally with\n`locked_columns`: the i-th item must have been bought in the i-th `locked_columns` stage.\nSee more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"locked_columns","in":"query","description":"Comma separated 0-based stage column indices for each `locked_item_ids` entry (time phase for\n`normal`, round for `street_brawl`). Must have the same length as `locked_item_ids`.","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}}],"responses":{"200":{"description":"Item Flow Stats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemFlowStats"}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch item flow stats"}}}},"/v1/analytics/item-permutation-stats":{"get":{"tags":["Analytics"],"summary":"Item Permutation Stats","description":"\nRetrieves item permutation statistics based on historical match data.\n\nResults are cached for **1 hour** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"item_permutation_stats","parameters":[{"name":"item_ids","in":"query","description":"Comma separated list of item ids. See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"comb_size","in":"query","description":"The combination size to return.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":2,"maximum":12,"minimum":2}},{"name":"min_matches","in":"query","description":"The minimum number of matches for an item combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":20,"minimum":1}},{"name":"max_matches","in":"query","description":"The maximum number of matches for an item combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"hero_ids","in":"query","description":"Filter matches based on the hero IDs. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"hero_id","in":"query","description":"Filter matches based on the hero ID. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Item Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemPermutationStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch item stats"}}}},"/v1/analytics/item-stats":{"get":{"tags":["Analytics"],"summary":"Item Stats","description":"\nRetrieves item statistics based on historical match data.\n\nResults are cached for **6 hours** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"item_stats","parameters":[{"name":"bucket","in":"query","description":"Bucket allows you to group the stats by a specific field.","required":false,"schema":{"type":"string","enum":["no_bucket","hero","team","start_time_hour","start_time_day","start_time_week","start_time_month","game_time_min","game_time_normalized_percentage","net_worth_by_1000","net_worth_by_2000","net_worth_by_3000","net_worth_by_5000","net_worth_by_10000"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"hero_ids","in":"query","description":"Filter matches based on the hero IDs. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"hero_id","in":"query","description":"Filter matches based on the hero ID. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"enemy_hero_ids","in":"query","description":"Filter to matches where one or more of these heroes were on the opposing team. Comma separated. When set, returns \"what items beat hero(es) X?\" stats. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"enemy_hero_ids_all_match","in":"query","description":"When `true`, requires *all* of the specified `enemy_hero_ids` to be on the same enemy team. When `false` (default), matches if *any* of the specified hero(es) are on the enemy team. Ignored when `enemy_hero_ids` is unset.","required":false,"schema":{"type":["boolean","null"]}},{"name":"min_enemy_networth","in":"query","description":"Filter the specified enemy hero(es) by their final net worth. Ignored when `enemy_hero_ids` is unset.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_enemy_networth","in":"query","description":"Filter the specified enemy hero(es) by their final net worth. Ignored when `enemy_hero_ids` is unset.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"same_lane_filter","in":"query","description":"When `true`, only counts buyers in the same `assigned_lane` as one of the specified enemy heroes. Ignored when `enemy_hero_ids` is unset. **Default:** `false`.","required":false,"schema":{"type":["boolean","null"]}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include. See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude. See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for an item to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":20,"minimum":1}},{"name":"max_matches","in":"query","description":"The maximum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}},{"name":"min_bought_at_s","in":"query","description":"Filter items bought after this game time (seconds).","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"max_bought_at_s","in":"query","description":"Filter items bought before this game time (seconds).","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"item_order","in":"query","description":"Filter by purchase order. Each value is a comma-separated, ordered list of item\nids (e.g. `1396247347,3977876567`). This is a *constraint*, not an inclusion\nfilter: for each adjacent pair in the list, a match is excluded only when the\nplayer bought **both** items but bought the later one first. Builds missing\neither item are unaffected. Repeat the parameter for multiple independent\norderings. See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"string"}}}],"responses":{"200":{"description":"Item Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch item stats"}}}},"/v1/analytics/kill-death-stats":{"get":{"tags":["Analytics"],"summary":"Kill Death Stats","description":"\nThis endpoint returns the kill-death statistics across a 128x128 pixel raster.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"kill_death_stats","parameters":[{"name":"team","in":"query","description":"Filter by team number.","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":1,"minimum":0}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"account_ids","in":"query","description":"Filter matches by account IDs of players that participated in the match.","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"hero_ids","in":"query","description":"Filter matches based on the hero IDs. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"is_high_skill_range_parties","in":"query","description":"Filter matches based on whether they are in the high skill range.","required":false,"schema":{"type":["boolean","null"]}},{"name":"is_low_pri_pool","in":"query","description":"Filter matches based on whether they are in the low priority pool.","required":false,"schema":{"type":["boolean","null"]}},{"name":"is_new_player_pool","in":"query","description":"Filter matches based on whether they are in the new player pool.","required":false,"schema":{"type":["boolean","null"]}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_kills_per_raster","in":"query","description":"Filter Raster cells based on minimum kills.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"max_kills_per_raster","in":"query","description":"Filter Raster cells based on maximum kills.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_deaths_per_raster","in":"query","description":"Filter Raster cells based on minimum deaths.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"max_deaths_per_raster","in":"query","description":"Filter Raster cells based on maximum deaths.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_game_time_s","in":"query","description":"Filter kills based on their game time.","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":7000,"minimum":0}},{"name":"max_game_time_s","in":"query","description":"Filter kills based on their game time.","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":7000,"minimum":0}}],"responses":{"200":{"description":"Kill Death Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KillDeathStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch kill death stats"}}}},"/v1/analytics/player-performance-curve":{"get":{"tags":["Analytics"],"summary":"Player Performance Curve","description":"\nRetrieves player performance statistics (net worth, kills, deaths, assists) over time throughout matches.\n\nResults are cached for **1 hour** based on the unique combination of query parameters provided.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"player_performance_curve","parameters":[{"name":"resolution","in":"query","description":"Resolution for relative game times in percent (0-100).\n**Default:** 10 (buckets of 10%).\nSet to **0** to use absolute game time (seconds).","required":false,"schema":{"type":["integer","null"],"format":"int32","default":10,"maximum":100,"minimum":0}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"hero_ids","in":"query","description":"Filter matches based on the hero IDs. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include (only players who have purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude (only players who have not purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Player Performance Curve","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerPerformanceCurvePoint"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch player performance curve"}}}},"/v1/analytics/player-stats/metrics":{"get":{"tags":["Analytics"],"summary":"Player Stats Metrics","description":"\nReturns comprehensive statistical analysis of player performance.\n\nResults are cached for **1 hour** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n> Note: Quantiles are calculated using the [DDSketch](https://www.vldb.org/pvldb/vol12/p2195-masson.pdf) algorithm, so they are not exact but have a maximum relative error of 0.01.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"player_stats_metrics","parameters":[{"name":"hero_ids","in":"query","description":"Filter matches based on the hero IDs. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_matches","in":"query","description":"The maximum number of matches to analyze.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include (only players who have purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude (only players who have not purchased these items). See more: <https://api.deadlock-api.com/v1/assets/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Stats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashMap"}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch player stats metrics"}}}},"/v1/analytics/scoreboards/heroes":{"get":{"tags":["Analytics"],"summary":"Hero Scoreboard","description":"\nThis endpoint returns the hero scoreboard.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"hero_scoreboard","parameters":[{"name":"sort_by","in":"query","description":"The field to sort by.","required":true,"schema":{"type":"string","enum":["matches","wins","losses","winrate","max_kills_per_match","avg_kills_per_match","kills","max_deaths_per_match","avg_deaths_per_match","deaths","max_damage_taken_per_match","avg_damage_taken_per_match","damage_taken","max_assists_per_match","avg_assists_per_match","assists","max_net_worth_per_match","avg_net_worth_per_match","net_worth","max_last_hits_per_match","avg_last_hits_per_match","last_hits","max_denies_per_match","avg_denies_per_match","denies","max_player_level_per_match","avg_player_level_per_match","player_level","max_creep_kills_per_match","avg_creep_kills_per_match","creep_kills","max_neutral_kills_per_match","avg_neutral_kills_per_match","neutral_kills","max_creep_damage_per_match","avg_creep_damage_per_match","creep_damage","max_player_damage_per_match","avg_player_damage_per_match","player_damage","max_neutral_damage_per_match","avg_neutral_damage_per_match","neutral_damage","max_boss_damage_per_match","avg_boss_damage_per_match","boss_damage","max_max_health_per_match","avg_max_health_per_match","max_health","max_shots_hit_per_match","avg_shots_hit_per_match","shots_hit","max_shots_missed_per_match","avg_shots_missed_per_match","shots_missed","max_hero_bullets_hit_per_match","avg_hero_bullets_hit_per_match","hero_bullets_hit","max_hero_bullets_hit_crit_per_match","avg_hero_bullets_hit_crit_per_match","hero_bullets_hit_crit"]}},{"name":"sort_direction","in":"query","description":"The direction to sort heroes in.","required":false,"schema":{"type":"string","enum":["desc","asc"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"min_matches","in":"query","description":"Filter by min number of matches played.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1780876800}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Scoreboard","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroEntry"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero scoreboard"}}}},"/v1/analytics/scoreboards/players":{"get":{"tags":["Analytics"],"summary":"Player Scoreboard","description":"\nThis endpoint returns the player scoreboard.\n\n### Rate Limits:\n> The rate limits below are **shared across all analytics endpoints**.\n\n| Type | Limit |\n| ---- | ----- |\n| IP | 200req/min |\n| Key | 400req/min |\n| Global | 2000req/min |\n    ","operationId":"player_scoreboard","parameters":[{"name":"sort_by","in":"query","description":"The field to sort by.","required":true,"schema":{"type":"string","enum":["matches","wins","losses","winrate","max_kills_per_match","avg_kills_per_match","kills","max_deaths_per_match","avg_deaths_per_match","deaths","max_damage_taken_per_match","avg_damage_taken_per_match","damage_taken","max_assists_per_match","avg_assists_per_match","assists","max_net_worth_per_match","avg_net_worth_per_match","net_worth","max_last_hits_per_match","avg_last_hits_per_match","last_hits","max_denies_per_match","avg_denies_per_match","denies","max_player_level_per_match","avg_player_level_per_match","player_level","max_creep_kills_per_match","avg_creep_kills_per_match","creep_kills","max_neutral_kills_per_match","avg_neutral_kills_per_match","neutral_kills","max_creep_damage_per_match","avg_creep_damage_per_match","creep_damage","max_player_damage_per_match","avg_player_damage_per_match","player_damage","max_neutral_damage_per_match","avg_neutral_damage_per_match","neutral_damage","max_boss_damage_per_match","avg_boss_damage_per_match","boss_damage","max_max_health_per_match","avg_max_health_per_match","max_health","max_shots_hit_per_match","avg_shots_hit_per_match","shots_hit","max_shots_missed_per_match","avg_shots_missed_per_match","shots_missed","max_hero_bullets_hit_per_match","avg_hero_bullets_hit_per_match","hero_bullets_hit","max_hero_bullets_hit_crit_per_match","avg_hero_bullets_hit_crit_per_match","hero_bullets_hit_crit"]}},{"name":"sort_direction","in":"query","description":"The direction to sort players in.","required":false,"schema":{"type":"string","enum":["desc","asc"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c","internal"]}],"default":"normal"}},{"name":"hero_id","in":"query","description":"Filter matches based on the hero ID. See more: <https://api.deadlock-api.com/v1/assets/heroes>","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for a player to be included in the scoreboard.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":20,"minimum":1}},{"name":"max_matches","in":"query","description":"The maximum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://api.deadlock-api.com/v1/assets/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"start","in":"query","description":"The offset to start fetching players from.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"limit","in":"query","description":"The maximum number of players to fetch.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":"100","maximum":10000,"minimum":1}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Player Scoreboard","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerEntry"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch player scoreboard"}}}},"/v1/assets/accolades":{"get":{"tags":["Accolades"],"summary":"List Accolades","description":"Returns the per-accolade metadata used by the game client, parsed from the patch's KV3 source files.","operationId":"list_accolades","parameters":[{"name":"language","in":"query","description":"Language code. Defaults to `english`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","description":"Set of languages the upstream `localization/<lang>.json` files are keyed by.","enum":["brazilian","bulgarian","czech","danish","dutch","english","finnish","french","german","greek","hungarian","indonesian","italian","japanese","koreana","latam","norwegian","polish","portuguese","romanian","russian","schinese","spanish","swedish","tchinese","thai","turkish","ukrainian","vietnamese"]}]}},{"name":"client_version","in":"query","description":"Client/game version (e.g. `6518`). Defaults to the latest known version.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Accolade"}}}}},"404":{"description":"Requested client_version is not available"},"500":{"description":"Failed to load source assets"}}}},"/v1/assets/accolades/by-name/{name}":{"get":{"tags":["Accolades"],"summary":"Get Accolade By Name","description":"Returns a single accolade by `class_name` or `tracked_stat_name` (case-insensitive).","operationId":"get_accolade_by_name","parameters":[{"name":"name","in":"path","description":"Accolade `class_name` (e.g. `kills`) or `tracked_stat_name`","required":true,"schema":{"type":"string"}},{"name":"language","in":"query","description":"Language code. Defaults to `english`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","description":"Set of languages the upstream `localization/<lang>.json` files are keyed by.","enum":["brazilian","bulgarian","czech","danish","dutch","english","finnish","french","german","greek","hungarian","indonesian","italian","japanese","koreana","latam","norwegian","polish","portuguese","romanian","russian","schinese","spanish","swedish","tchinese","thai","turkish","ukrainian","vietnamese"]}]}},{"name":"client_version","in":"query","description":"Client/game version (e.g. `6518`). Defaults to the latest known version.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accolade"}}}},"404":{"description":"Unknown accolade name or client_version"},"500":{"description":"Failed to load source assets"}}}},"/v1/assets/accolades/{accolade_id}":{"get":{"tags":["Accolades"],"summary":"Get Accolade","description":"Returns a single accolade by id.","operationId":"get_accolade","parameters":[{"name":"accolade_id","in":"path","description":"Accolade id (`m_unAccoladeID`)","required":true,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"language","in":"query","description":"Language code. Defaults to `english`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","description":"Set of languages the upstream `localization/<lang>.json` files are keyed by.","enum":["brazilian","bulgarian","czech","danish","dutch","english","finnish","french","german","greek","hungarian","indonesian","italian","japanese","koreana","latam","norwegian","polish","portuguese","romanian","russian","schinese","spanish","swedish","tchinese","thai","turkish","ukrainian","vietnamese"]}]}},{"name":"client_version","in":"query","description":"Client/game version (e.g. `6518`). Defaults to the latest known version.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accolade"}}}},"404":{"description":"Unknown accolade id or client_version"},"500":{"description":"Failed to load source assets"}}}},"/v1/assets/build-tags":{"get":{"tags":["Build Tags"],"summary":"List Build Tags","description":"Returns the build tag taxonomy used by the game client, derived from per-version localization keys.","operationId":"list_build_tags","parameters":[{"name":"language","in":"query","description":"Language code. Defaults to `english`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","description":"Set of languages the upstream `localization/<lang>.json` files are keyed by.","enum":["brazilian","bulgarian","czech","danish","dutch","english","finnish","french","german","greek","hungarian","indonesian","italian","japanese","koreana","latam","norwegian","polish","portuguese","romanian","russian","schinese","spanish","swedish","tchinese","thai","turkish","ukrainian","vietnamese"]}]}},{"name":"client_version","in":"query","description":"Client/game version (e.g. `6518`). Defaults to the latest known version.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuildTag"}}}}},"404":{"description":"Requested client_version is not available"},"500":{"description":"Failed to load source assets"}}}},"/v1/assets/build-tags/by-name/{name}":{"get":{"tags":["Build Tags"],"summary":"Get Build Tag By Name","description":"Returns a single build tag by `class_name` (case-insensitive).","operationId":"get_build_tag_by_name","parameters":[{"name":"name","in":"path","description":"Build tag `class_name` (e.g. `citadel_build_tag_weapon`)","required":true,"schema":{"type":"string"}},{"name":"language","in":"query","description":"Language code. Defaults to `english`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","description":"Set of languages the upstream `localization/<lang>.json` files are keyed by.","enum":["brazilian","bulgarian","czech","danish","dutch","english","finnish","french","german","greek","hungarian","indonesian","italian","japanese","koreana","latam","norwegian","polish","portuguese","romanian","russian","schinese","spanish","swedish","tchinese","thai","turkish","ukrainian","vietnamese"]}]}},{"name":"client_version","in":"query","description":"Client/game version (e.g. `6518`). Defaults to the latest known version.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildTag"}}}},"404":{"description":"Unknown build tag name or client_version"},"500":{"description":"Failed to load source assets"}}}},"/v1/assets/build-tags/{build_tag_id}":{"get":{"tags":["Build Tags"],"summary":"Get Build Tag","description":"Returns a single build tag by id.","operationId":"get_build_tag","parameters":[{"name":"build_tag_id","in":"path","description":"Build tag id (murmurhash2 of `class_name`)","required":true,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"language","in":"query","description":"Language code. Defaults to `english`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","description":"Set of languages the upstream `localization/<lang>.json` files are keyed by.","enum":["brazilian","bulgarian","czech","danish","dutch","english","finnish","french","german","greek","hungarian","indonesian","italian","japanese","koreana","latam","norwegian","polish","portuguese","romanian","russian","schinese","spanish","swedish","tchinese","thai","turkish","ukrainian","vietnamese"]}]}},{"name":"client_version","in":"query","description":"Client/game version (e.g. `6518`). Defaults to the latest known version.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildTag"}}}},"404":{"description":"Unknown build tag id or client_version"},"500":{"description":"Failed to load source assets"}}}},"/v1/assets/client-versions":{"get":{"tags":["Client Versions"],"summary":"List Client Versions","description":"Returns all known Deadlock client/game versions for which versioned assets are available, sorted ascending (oldest first).","operationId":"list_client_versions","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","f
[...]
