{"openapi":"3.1.0","info":{"title":"Deadlock API","description":"\n## API Clients\n\nWe have auto generated and updated clients for many languages. You can find them here: [https://github.com/deadlock-api/openapi-clients](https://github.com/deadlock-api/openapi-clients)\n\n## Support the Deadlock API\n\nWhether you're building your own database, developing data science projects, or enhancing your website with game and player analytics, the Deadlock API has the data you need.\n\nYour sponsorship helps keep this resource open, free and future-proof for everyone. By supporting the Deadlock API, you will enable continued development, new features and reliable access for developers, analysts and streamers worldwide.\n\nHelp us continue to provide the data you need - sponsor the Deadlock API today!\n\n**-> You can Sponsor the Deadlock API on [Patreon](https://www.patreon.com/c/user?u=68961896) or [GitHub](https://github.com/sponsors/raimannma)**\n\n## Disclaimer\n_deadlock-api.com is not endorsed by Valve and does not reflect the views or opinions of Valve or anyone officially involved in producing or managing Valve properties. Valve and all associated properties are trademarks or registered trademarks of Valve Corporation_\n        ","contact":{"name":"Deadlock API - Discord","url":"https://discord.gg/XMF9Xrgfqu"},"license":{"name":"MIT","url":"https://github.com/deadlock-api/deadlock-api/blob/master/LICENSE"},"version":"0.1.0"},"servers":[{"url":"https://api.deadlock-api.com"}],"paths":{"/v1/analytics/ability-order-stats":{"get":{"tags":["Analytics"],"summary":"Ability Order Stats","description":"\nRetrieves statistics for the ability order of a hero.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"ability_order_stats","parameters":[{"name":"hero_id","in":"query","description":"See more: <https://assets.deadlock-api.com/v2/heroes>","required":true,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_ability_upgrades","in":"query","description":"Filter players based on their minimum number of ability upgrades over the whole match.","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":16,"minimum":0}},{"name":"max_ability_upgrades","in":"query","description":"Filter players based on their maximum number of ability upgrades over the whole match.","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":16,"minimum":1}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for an ability order to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":20,"minimum":1}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include (only players who have purchased these items). See more: <https://assets.deadlock-api.com/v2/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude (only players who have not purchased these items). See more: <https://assets.deadlock-api.com/v2/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}}],"responses":{"200":{"description":"Ability Order Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsAbilityOrderStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch ability order stats"}}}},"/v1/analytics/badge-distribution":{"get":{"tags":["Analytics"],"summary":"Badge Distribution","description":"\nThis endpoint returns the player badge distribution.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"badge_distribution","parameters":[{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"is_high_skill_range_parties","in":"query","description":"Filter matches based on whether they are in the high skill range.","required":false,"schema":{"type":["boolean","null"]}},{"name":"is_low_pri_pool","in":"query","description":"Filter matches based on whether they are in the low priority pool.","required":false,"schema":{"type":["boolean","null"]}},{"name":"is_new_player_pool","in":"query","description":"Filter matches based on whether they are in the new player pool.","required":false,"schema":{"type":["boolean","null"]}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}}],"responses":{"200":{"description":"Badge Distribution","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BadgeDistribution"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch badge distribution"}}}},"/v1/analytics/build-item-stats":{"get":{"tags":["Analytics"],"summary":"Build Item Stats","description":"\nRetrieves item statistics from hero builds.\n\nResults are cached for **1 hour** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"build_item_stats","parameters":[{"name":"hero_id","in":"query","description":"Filter builds based on the hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_last_updated_unix_timestamp","in":"query","description":"Filter builds based on their last updated time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_last_updated_unix_timestamp","in":"query","description":"Filter builds based on their last updated time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}}],"responses":{"200":{"description":"Build Item Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuildItemStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch build item stats"}}}},"/v1/analytics/game-stats":{"get":{"tags":["Analytics"],"summary":"Game Stats","description":"\nRetrieves aggregate game-level statistics.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"game_stats","parameters":[{"name":"bucket","in":"query","description":"Bucket allows you to group the stats by a specific field.","required":false,"schema":{"type":"string","enum":["no_bucket","avg_badge","start_time_hour","start_time_day","start_time_week","start_time_month"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>\nOnly works for `game_modes` with badge data (e.g. `normal`, not `street_brawl`).","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>\nOnly works for `game_modes` with badge data (e.g. `normal`, not `street_brawl`).","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}}],"responses":{"200":{"description":"Game Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsGameStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch game stats"}}}},"/v1/analytics/hero-ban-stats":{"get":{"tags":["Analytics"],"summary":"Hero Ban Stats","description":"\nRetrieves ban statistics for each hero based on historical match data from demo analysis.\n\nOnly matches with successfully extracted ban data are included. Matches where ban extraction failed (empty `banned_hero_ids`) are excluded entirely.\n\nResults are cached for **1 hour** based on the combination of query parameters provided.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"hero_ban_stats","parameters":[{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. **Minimum:** March 1, 2026.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}}],"responses":{"200":{"description":"Hero Ban Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroBanStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero ban stats"}}}},"/v1/analytics/hero-build-stats/{hero_id}":{"get":{"tags":["Analytics"],"summary":"Hero Build Stats","description":"\nRetrieves performance statistics for hero builds based on historical match data from demo analysis.\n\nOnly includes builds that exist in the hero builds database.\n\nThe `hero_build_id` is the first build the player had selected when the game started. It does not reflect any build changes made during the match.\n\nResults are cached for **1 hour** based on the combination of query parameters provided.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"hero_build_stats","parameters":[{"name":"hero_id","in":"path","description":"The hero ID to fetch build stats for. See more: <https://assets.deadlock-api.com/v2/heroes>","required":true,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago. **Minimum:** March 1, 2026.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"hero_build_id","in":"query","description":"Filter results for a specific hero build.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for a build to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":20,"minimum":1}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Build Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroBuildStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero build stats"}}}},"/v1/analytics/hero-comb-stats":{"get":{"tags":["Analytics"],"summary":"Hero Comb Stats","description":"\nRetrieves overall statistics for each hero combination.\n\nResults are cached for **1 hour**. The cache key is determined by the specific combination of filter parameters used in the query. Subsequent requests using the exact same filters within this timeframe will receive the cached response.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"hero_comb_stats","parameters":[{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"include_hero_ids","in":"query","description":"Comma separated list of hero ids to include. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_hero_ids","in":"query","description":"Comma separated list of hero ids to exclude. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"include_enemy_hero_ids","in":"query","description":"Comma separated list of enemy hero ids to include. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_enemy_hero_ids","in":"query","description":"Comma separated list of enemy hero ids to exclude. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":20,"minimum":1}},{"name":"max_matches","in":"query","description":"The maximum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"comb_size","in":"query","description":"The combination size to return.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":6,"maximum":6,"minimum":2}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Comb Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroCombStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero comb stats"}}}},"/v1/analytics/hero-counter-stats":{"get":{"tags":["Analytics"],"summary":"Hero Counter Stats","description":"\nRetrieves hero-versus-hero matchup statistics based on historical match data.\n\nThis endpoint analyzes completed matches to calculate how often a specific hero (`hero_id`) wins against an enemy hero (`enemy_hero_id`) and the total number of times they have faced each other under the specified filter conditions.\n\nResults are cached for **1 hour** based on the combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"hero_counters_stats","parameters":[{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_enemy_networth","in":"query","description":"Filter enemy players based on their net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_enemy_networth","in":"query","description":"Filter enemy players based on their net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"same_lane_filter","in":"query","description":"When `true`, only considers matchups where both `hero_id` and `enemy_hero_id` were assigned to the same lane (e.g., both Mid Lane). When `false`, considers all matchups regardless of assigned lane.","required":false,"schema":{"type":["boolean","null"],"default":true}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":20,"minimum":1}},{"name":"max_matches","in":"query","description":"The maximum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Counter Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroCounterStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero counter stats"}}}},"/v1/analytics/hero-stats":{"get":{"tags":["Analytics"],"summary":"Hero Stats","description":"\nRetrieves performance statistics for each hero based on historical match data.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"hero_stats","parameters":[{"name":"bucket","in":"query","description":"Bucket allows you to group the stats by a specific field.","required":false,"schema":{"type":"string","enum":["no_bucket","avg_badge","start_time_hour","start_time_day","start_time_week","start_time_month"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_hero_matches","in":"query","description":"Filter players based on the number of matches they have played with a specific hero within the filtered time range.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_hero_matches","in":"query","description":"Filter players based on the number of matches they have played with a specific hero within the filtered time range.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_hero_matches_total","in":"query","description":"Filter players based on the number of matches they have played with a specific hero in their entire history.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_hero_matches_total","in":"query","description":"Filter players based on the number of matches they have played with a specific hero in their entire history.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include (only players who have purchased these items). See more: <https://assets.deadlock-api.com/v2/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude (only players who have not purchased these items). See more: <https://assets.deadlock-api.com/v2/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnalyticsHeroStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero stats"}}}},"/v1/analytics/hero-synergy-stats":{"get":{"tags":["Analytics"],"summary":"Hero Synergy Stats","description":"\nRetrieves hero pair synergy statistics based on historical match data.\n\nThis endpoint analyzes completed matches to calculate how often a specific pair of heroes (`hero_id1` and `hero_id2`) won when playing *together on the same team*, and the total number of times they have played together under the specified filter conditions.\n\nResults are cached for **1 hour** based on the combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"hero_synergies_stats","parameters":[{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"same_lane_filter","in":"query","description":"When `true`, only considers matchups where both `hero_id1` and `hero_id2` were assigned to the same lane (e.g., both Mid Lane). When `false`, considers all matchups regardless of assigned lane.","required":false,"schema":{"type":["boolean","null"],"default":true}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":20,"minimum":1}},{"name":"max_matches","in":"query","description":"The maximum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Synergy Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroSynergyStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero synergy stats"}}}},"/v1/analytics/item-permutation-stats":{"get":{"tags":["Analytics"],"summary":"Item Permutation Stats","description":"\nRetrieves item permutation statistics based on historical match data.\n\nResults are cached for **1 hour** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"item_permutation_stats","parameters":[{"name":"item_ids","in":"query","description":"Comma separated list of item ids. See more: <https://assets.deadlock-api.com/v2/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"comb_size","in":"query","description":"The combination size to return.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":2,"maximum":12,"minimum":2}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"hero_ids","in":"query","description":"Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"hero_id","in":"query","description":"Filter matches based on the hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Item Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemPermutationStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch item stats"}}}},"/v1/analytics/item-stats":{"get":{"tags":["Analytics"],"summary":"Item Stats","description":"\nRetrieves item statistics based on historical match data.\n\nResults are cached for **1 hour** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"item_stats","parameters":[{"name":"bucket","in":"query","description":"Bucket allows you to group the stats by a specific field.","required":false,"schema":{"type":"string","enum":["no_bucket","hero","team","start_time_hour","start_time_day","start_time_week","start_time_month","game_time_min","game_time_normalized_percentage","net_worth_by_1000","net_worth_by_2000","net_worth_by_3000","net_worth_by_5000","net_worth_by_10000"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"hero_ids","in":"query","description":"Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"hero_id","in":"query","description":"Filter matches based on the hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include. See more: <https://assets.deadlock-api.com/v2/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude. See more: <https://assets.deadlock-api.com/v2/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for an item to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":20,"minimum":1}},{"name":"max_matches","in":"query","description":"The maximum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}},{"name":"min_bought_at_s","in":"query","description":"Filter items bought after this game time (seconds).","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"max_bought_at_s","in":"query","description":"Filter items bought before this game time (seconds).","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}}],"responses":{"200":{"description":"Item Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch item stats"}}}},"/v1/analytics/kill-death-stats":{"get":{"tags":["Analytics"],"summary":"Kill Death Stats","description":"\nThis endpoint returns the kill-death statistics across a 128x128 pixel raster.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"kill_death_stats","parameters":[{"name":"team","in":"query","description":"Filter by team number.","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":1,"minimum":0}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"account_ids","in":"query","description":"Filter matches by account IDs of players that participated in the match.","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"hero_ids","in":"query","description":"Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"is_high_skill_range_parties","in":"query","description":"Filter matches based on whether they are in the high skill range.","required":false,"schema":{"type":["boolean","null"]}},{"name":"is_low_pri_pool","in":"query","description":"Filter matches based on whether they are in the low priority pool.","required":false,"schema":{"type":["boolean","null"]}},{"name":"is_new_player_pool","in":"query","description":"Filter matches based on whether they are in the new player pool.","required":false,"schema":{"type":["boolean","null"]}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_kills_per_raster","in":"query","description":"Filter Raster cells based on minimum kills.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"max_kills_per_raster","in":"query","description":"Filter Raster cells based on maximum kills.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_deaths_per_raster","in":"query","description":"Filter Raster cells based on minimum deaths.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"max_deaths_per_raster","in":"query","description":"Filter Raster cells based on maximum deaths.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_game_time_s","in":"query","description":"Filter kills based on their game time.","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":7000,"minimum":0}},{"name":"max_game_time_s","in":"query","description":"Filter kills based on their game time.","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":7000,"minimum":0}}],"responses":{"200":{"description":"Kill Death Stats","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KillDeathStats"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch kill death stats"}}}},"/v1/analytics/player-performance-curve":{"get":{"tags":["Analytics"],"summary":"Player Performance Curve","description":"\nRetrieves player performance statistics (net worth, kills, deaths, assists) over time throughout matches.\n\nResults are cached for **1 hour** based on the unique combination of query parameters provided.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"player_performance_curve","parameters":[{"name":"resolution","in":"query","description":"Resolution for relative game times in percent (0-100).\n**Default:** 10 (buckets of 10%).\nSet to **0** to use absolute game time (seconds).","required":false,"schema":{"type":["integer","null"],"format":"int32","default":10,"maximum":100,"minimum":0}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"hero_ids","in":"query","description":"Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include (only players who have purchased these items). See more: <https://assets.deadlock-api.com/v2/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude (only players who have not purchased these items). See more: <https://assets.deadlock-api.com/v2/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Player Performance Curve","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerPerformanceCurvePoint"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch player performance curve"}}}},"/v1/analytics/player-stats/metrics":{"get":{"tags":["Analytics"],"summary":"Player Stats Metrics","description":"\nReturns comprehensive statistical analysis of player performance.\n\nResults are cached for **1 hour** based on the unique combination of query parameters provided. Subsequent identical requests within this timeframe will receive the cached response.\n\n> Note: Quantiles are calculated using the [DDSketch](https://www.vldb.org/pvldb/vol12/p2195-masson.pdf) algorithm, so they are not exact but have a maximum relative error of 0.01.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"player_stats_metrics","parameters":[{"name":"hero_ids","in":"query","description":"Filter matches based on the hero IDs. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":["string","null"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_matches","in":"query","description":"The maximum number of matches to analyze.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"include_item_ids","in":"query","description":"Comma separated list of item ids to include (only players who have purchased these items). See more: <https://assets.deadlock-api.com/v2/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"exclude_item_ids","in":"query","description":"Comma separated list of item ids to exclude (only players who have not purchased these items). See more: <https://assets.deadlock-api.com/v2/items>","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0}}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Stats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HashMap"}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch player stats metrics"}}}},"/v1/analytics/scoreboards/heroes":{"get":{"tags":["Analytics"],"summary":"Hero Scoreboard","description":"\nThis endpoint returns the hero scoreboard.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"hero_scoreboard","parameters":[{"name":"sort_by","in":"query","description":"The field to sort by.","required":true,"schema":{"type":"string","enum":["matches","wins","losses","winrate","max_kills_per_match","avg_kills_per_match","kills","max_deaths_per_match","avg_deaths_per_match","deaths","max_damage_taken_per_match","avg_damage_taken_per_match","damage_taken","max_assists_per_match","avg_assists_per_match","assists","max_net_worth_per_match","avg_net_worth_per_match","net_worth","max_last_hits_per_match","avg_last_hits_per_match","last_hits","max_denies_per_match","avg_denies_per_match","denies","max_player_level_per_match","avg_player_level_per_match","player_level","max_creep_kills_per_match","avg_creep_kills_per_match","creep_kills","max_neutral_kills_per_match","avg_neutral_kills_per_match","neutral_kills","max_creep_damage_per_match","avg_creep_damage_per_match","creep_damage","max_player_damage_per_match","avg_player_damage_per_match","player_damage","max_neutral_damage_per_match","avg_neutral_damage_per_match","neutral_damage","max_boss_damage_per_match","avg_boss_damage_per_match","boss_damage","max_max_health_per_match","avg_max_health_per_match","max_health","max_shots_hit_per_match","avg_shots_hit_per_match","shots_hit","max_shots_missed_per_match","avg_shots_missed_per_match","shots_missed","max_hero_bullets_hit_per_match","avg_hero_bullets_hit_per_match","hero_bullets_hit","max_hero_bullets_hit_crit_per_match","avg_hero_bullets_hit_crit_per_match","hero_bullets_hit_crit"]}},{"name":"sort_direction","in":"query","description":"The direction to sort heroes in.","required":false,"schema":{"type":"string","enum":["desc","asc"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"min_matches","in":"query","description":"Filter by min number of matches played.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp). **Default:** 30 days ago.","required":false,"schema":{"type":["integer","null"],"format":"int64","default":1772928000}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"account_id","in":"query","description":"Filter for matches with a specific player account ID.","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Hero Scoreboard","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HeroEntry"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch hero scoreboard"}}}},"/v1/analytics/scoreboards/players":{"get":{"tags":["Analytics"],"summary":"Player Scoreboard","description":"\nThis endpoint returns the player scoreboard.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"player_scoreboard","parameters":[{"name":"sort_by","in":"query","description":"The field to sort by.","required":true,"schema":{"type":"string","enum":["matches","wins","losses","winrate","max_kills_per_match","avg_kills_per_match","kills","max_deaths_per_match","avg_deaths_per_match","deaths","max_damage_taken_per_match","avg_damage_taken_per_match","damage_taken","max_assists_per_match","avg_assists_per_match","assists","max_net_worth_per_match","avg_net_worth_per_match","net_worth","max_last_hits_per_match","avg_last_hits_per_match","last_hits","max_denies_per_match","avg_denies_per_match","denies","max_player_level_per_match","avg_player_level_per_match","player_level","max_creep_kills_per_match","avg_creep_kills_per_match","creep_kills","max_neutral_kills_per_match","avg_neutral_kills_per_match","neutral_kills","max_creep_damage_per_match","avg_creep_damage_per_match","creep_damage","max_player_damage_per_match","avg_player_damage_per_match","player_damage","max_neutral_damage_per_match","avg_neutral_damage_per_match","neutral_damage","max_boss_damage_per_match","avg_boss_damage_per_match","boss_damage","max_max_health_per_match","avg_max_health_per_match","max_health","max_shots_hit_per_match","avg_shots_hit_per_match","shots_hit","max_shots_missed_per_match","avg_shots_missed_per_match","shots_missed","max_hero_bullets_hit_per_match","avg_hero_bullets_hit_per_match","hero_bullets_hit","max_hero_bullets_hit_crit_per_match","avg_hero_bullets_hit_crit_per_match","hero_bullets_hit_crit"]}},{"name":"sort_direction","in":"query","description":"The direction to sort players in.","required":false,"schema":{"type":"string","enum":["desc","asc"]}},{"name":"game_mode","in":"query","description":"Filter matches based on their game mode. Valid values: `normal`, `street_brawl`. **Default:** `normal`.","required":false,"schema":{"oneOf":[{"type":"null"},{"type":"string","enum":["normal","street_brawl","explore_n_y_c"]}],"default":"normal"}},{"name":"hero_id","in":"query","description":"Filter matches based on the hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"min_matches","in":"query","description":"The minimum number of matches played for a player to be included in the scoreboard.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":20,"minimum":1}},{"name":"max_matches","in":"query","description":"The maximum number of matches played for a hero combination to be included in the response.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":1}},{"name":"min_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"max_unix_timestamp","in":"query","description":"Filter matches based on their start time (Unix timestamp).","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"min_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"max_duration_s","in":"query","description":"Filter matches based on their duration in seconds (up to 7000s).","required":false,"schema":{"type":["integer","null"],"format":"int64","maximum":7000,"minimum":0}},{"name":"min_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_networth","in":"query","description":"Filter players based on their final net worth.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"min_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"max_average_badge","in":"query","description":"Filter matches based on the average badge level (tier = first digits, subtier = last digit) of *both* teams involved. See more: <https://assets.deadlock-api.com/v2/ranks>","required":false,"schema":{"type":["integer","null"],"format":"int32","maximum":116,"minimum":0}},{"name":"min_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"max_match_id","in":"query","description":"Filter matches based on their ID.","required":false,"schema":{"type":["integer","null"],"format":"int64","minimum":0}},{"name":"start","in":"query","description":"The offset to start fetching players from.","required":false,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"limit","in":"query","description":"The maximum number of players to fetch.","required":false,"schema":{"type":["integer","null"],"format":"int32","default":"100","maximum":10000,"minimum":1}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"Player Scoreboard","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlayerEntry"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Failed to fetch player scoreboard"}}}},"/v1/builds":{"get":{"tags":["Builds"],"summary":"Search","description":"\nSearch for builds based on various criteria.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"search_builds","parameters":[{"name":"min_unix_timestamp","in":"query","description":"Filter builds based on their `last_updated` time (Unix timestamp).","required":false,"schema":{"type":"integer","format":"int64"},"style":"form"},{"name":"max_unix_timestamp","in":"query","description":"Filter builds based on their `last_updated` time (Unix timestamp).","required":false,"schema":{"type":"integer","format":"int64"},"style":"form"},{"name":"min_published_unix_timestamp","in":"query","description":"Filter builds based on their published time (Unix timestamp).","required":false,"schema":{"type":"integer","format":"int64"},"style":"form"},{"name":"max_published_unix_timestamp","in":"query","description":"Filter builds based on their published time (Unix timestamp).","required":false,"schema":{"type":"integer","format":"int64"},"style":"form"},{"name":"sort_by","in":"query","description":"The field to sort the builds by.","required":false,"schema":{"type":"string","enum":["weekly_favorites","favorites","ignores","reports","updated_at","published_at","version"]},"style":"form"},{"name":"start","in":"query","description":"The index of the first build to return.","required":false,"schema":{"type":"integer","format":"int32","minimum":0},"style":"form"},{"name":"limit","in":"query","description":"The maximum number of builds to return.","required":false,"schema":{"type":"integer","format":"int32","default":"100","minimum":0},"style":"form"},{"name":"sort_direction","in":"query","description":"The direction to sort the builds in.","required":false,"schema":{"type":"string","enum":["desc","asc"]},"style":"form"},{"name":"search_name","in":"query","description":"Search for builds with a name containing this string.","required":false,"schema":{"type":"string"},"style":"form"},{"name":"search_description","in":"query","description":"Search for builds with a description containing this string.","required":false,"schema":{"type":"string"},"style":"form"},{"name":"only_latest","in":"query","description":"Only return the latest version of each build.","required":false,"schema":{"type":"boolean"},"style":"form"},{"name":"language","in":"query","description":"Filter builds by language.","required":false,"deprecated":true,"schema":{"type":"integer","format":"int32","minimum":0},"style":"form"},{"name":"build_language","in":"query","description":"Filter builds by language.","required":false,"schema":{"type":"string","enum":["English","German","French","Italian","Korean","SpanishSpain","ChineseSimplified","Russian","Thai","Japanese","PortuguesePortugal","Polish","Czech","Turkish","PortugueseBrazil","Ukrainian","SpanishLatinAmerica","Vietnamese"]},"style":"form"},{"name":"build_id","in":"query","description":"Filter builds by ID.","required":false,"schema":{"type":"integer","format":"int32","minimum":0},"style":"form"},{"name":"version","in":"query","description":"Filter builds by version.","required":false,"schema":{"type":"integer","format":"int32","minimum":0},"style":"form"},{"name":"hero_id","in":"query","description":"Filter builds by hero ID. See more: <https://assets.deadlock-api.com/v2/heroes>","required":false,"schema":{"type":"integer","format":"int32","minimum":0},"style":"form"},{"name":"tag","in":"query","description":"Filter builds by tag.","required":false,"schema":{"type":"integer","format":"int32","minimum":0},"style":"form"},{"name":"rollup_category","in":"query","description":"Filter builds by rollup category.","required":false,"schema":{"type":"integer","format":"int32","minimum":0},"style":"form"},{"name":"author_id","in":"query","description":"The author's `SteamID3`","required":false,"schema":{"type":"integer","format":"int32","minimum":0},"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Build"}}}}},"400":{"description":"Provided parameters are invalid."},"429":{"description":"Rate limit exceeded"},"500":{"description":"Internal server error"}}}},"/v1/commands/resolve":{"get":{"tags":["Commands"],"summary":"Resolve Command","description":"\n    Resolves a command and returns the resolved command.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 60req/60s |\n| Key | - |\n| Global | 300req/60s |\n    ","operationId":"command_resolve","parameters":[{"name":"region","in":"query","description":"The players region","required":false,"schema":{"type":"string","enum":["Europe","Asia","NAmerica","SAmerica","Oceania"]}},{"name":"account_id","in":"query","description":"The players `SteamID3`","required":true,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"template","in":"query","description":"The command template to resolve","required":false,"schema":{"type":"string"}},{"name":"hero_name","in":"query","description":"Hero name to check for hero specific stats","required":false,"schema":{"type":["string","null"]}}],"responses":{"200":{"description":"","content":{"text/plain":{"schema":{"type":"string"}}}},"400":{"description":"Provided parameters are invalid."}}}},"/v1/commands/variables/available":{"get":{"tags":["Commands"],"summary":"Available Variables","description":"\nReturns a list of available variables that can be used in the command endpoint.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"available_variables","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VariableDescription"}}}}},"400":{"description":"Provided parameters are invalid."}}}},"/v1/commands/variables/resolve":{"get":{"tags":["Commands"],"summary":"Resolve Variables","description":"\nResolves variables and returns a map of variable name to resolved value.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 60req/min |\n| Key | - |\n| Global | 300req/min |\n    ","operationId":"variables_resolve","parameters":[{"name":"region","in":"query","required":false,"schema":{"type":"string","enum":["Europe","Asia","NAmerica","SAmerica","Oceania"]}},{"name":"account_id","in":"query","required":true,"schema":{"type":"integer","format":"int32","minimum":0}},{"name":"variables","in":"query","description":"Variables to resolve, separated by commas.","required":false,"schema":{"type":"string"}},{"name":"hero_name","in":"query","description":"Hero name to check for hero specific stats","required":false,"schema":{"type":["string","null"]}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"propertyNames":{"type":"string"}}}}},"400":{"description":"Provided parameters are invalid."}}}},"/v1/commands/widgets/versions":{"get":{"tags":["Commands"],"summary":"Widget Versions","description":"\nReturns a map of str->int of widget versions.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n","operationId":"widget_versions","responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"},"propertyNames":{"type":"string"}}}}},"400":{"description":"Provided parameters are invalid."}}}},"/v1/info":{"get":{"tags":["Info"],"summary":"API Info","description":"\nReturns information about the API.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"info","responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIInfo"}}}},"500":{"description":"","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/v1/info/health":{"get":{"tags":["Info"],"summary":"Health Check","description":"\nChecks the health of the services.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"health_check","responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Status"}}}},"500":{"description":"","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/v1/leaderboard/{region}":{"get":{"tags":["Leaderboard"],"summary":"Leaderboard","description":"\nReturns the leaderboard.\n\n### Note:\n\nValve updates the leaderboard once per hour.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"leaderboard","parameters":[{"name":"region","in":"path","description":"The region to fetch the leaderboard for.","required":true,"schema":{"type":"string","enum":["Europe","Asia","NAmerica","SAmerica","Oceania"]}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Leaderboard"}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Fetching or parsing the leaderboard failed"}}}},"/v1/leaderboard/{region}/raw":{"get":{"tags":["Leaderboard"],"summary":"Leaderboard as Protobuf","description":"\nReturns the leaderboard, serialized as protobuf message.\n\nYou have to decode the protobuf message.\n\nProtobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)\n\nRelevant Protobuf Message:\n- CMsgClientToGcGetLeaderboardResponse\n\n### Note:\n\nValve updates the leaderboard once per hour.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"leaderboard_raw","parameters":[{"name":"region","in":"path","description":"The region to fetch the leaderboard for.","required":true,"schema":{"type":"string","enum":["Europe","Asia","NAmerica","SAmerica","Oceania"]}}],"responses":{"200":{"description":"","content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"integer","format":"int32","minimum":0}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Fetching the leaderboard failed"}}}},"/v1/leaderboard/{region}/{hero_id}":{"get":{"tags":["Leaderboard"],"summary":"Hero Leaderboard","description":"\nReturns the leaderboard for a specific hero.\n\n### Note:\n\nValve updates the leaderboard once per hour.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"leaderboard_hero","parameters":[{"name":"region","in":"path","description":"The region to fetch the leaderboard for.","required":true,"schema":{"type":"string","enum":["Europe","Asia","NAmerica","SAmerica","Oceania"]}},{"name":"hero_id","in":"path","description":"The hero ID to fetch the leaderboard for. See more: <https://assets.deadlock-api.com/v2/heroes>","required":true,"schema":{"type":"integer","format":"int32","minimum":0}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Leaderboard"}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Fetching or parsing the hero leaderboard failed"}}}},"/v1/leaderboard/{region}/{hero_id}/raw":{"get":{"tags":["Leaderboard"],"summary":"Hero Leaderboard as Protobuf","description":"\nReturns the leaderboard for a specific hero, serialized as protobuf message.\n\nYou have to decode the protobuf message.\n\nProtobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)\n\nRelevant Protobuf Message:\n- CMsgClientToGcGetLeaderboardResponse\n\n### Note:\n\nValve updates the leaderboard once per hour.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"leaderboard_hero_raw","parameters":[{"name":"region","in":"path","description":"The region to fetch the leaderboard for.","required":true,"schema":{"type":"string","enum":["Europe","Asia","NAmerica","SAmerica","Oceania"]}},{"name":"hero_id","in":"path","description":"The hero ID to fetch the leaderboard for. See more: <https://assets.deadlock-api.com/v2/heroes>","required":true,"schema":{"type":"integer","format":"int32","minimum":0}}],"responses":{"200":{"description":"","content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"integer","format":"int32","minimum":0}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Fetching the hero leaderboard failed"}}}},"/v1/matches/active":{"get":{"tags":["Matches"],"summary":"Active","description":"\nReturns active matches that are currently being played.\n\nFetched from the watch tab in game, which is limited to the **top 200 matches**.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"active_matches","parameters":[{"name":"account_id","in":"query","description":"The account ID to filter active matches by (`SteamID3`)","required":false,"deprecated":true,"schema":{"type":["integer","null"],"format":"int32","minimum":0}},{"name":"account_ids","in":"query","description":"Comma separated list of account ids to include","required":false,"schema":{"type":["array","null"],"items":{"type":"integer","format":"int32","minimum":0},"maxItems":1000,"minItems":1}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActiveMatch"}}}}},"400":{"description":"Provided parameters are invalid."},"500":{"description":"Fetching or parsing active matches failed"}}}},"/v1/matches/active/raw":{"get":{"tags":["Matches"],"summary":"Active as Protobuf","description":"\nReturns active matches that are currently being played, serialized as protobuf message.\n\nFetched from the watch tab in game, which is limited to the **top 200 matches**.\n\nYou have to decode the protobuf message.\n\nProtobuf definitions can be found here: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)\n\nRelevant Protobuf Message:\n- CMsgClientToGcGetActiveMatchesResponse\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n    ","operationId":"active_matches_raw","responses":{"200":{"description":"","content":{"application/octet-stream":{"schema":{"type":"array","items":{"type":"integer","format":"int32","minimum":0}}}}},"500":{"description":"Fetching active matches failed"}}}},"/v1/matches/custom/create":{"post":{"tags":["Custom Matches"],"summary":"Create Match","description":"\nThis endpoint creates a custom match using a bot account.\n\n**Process:**\n1. A party is created with your provided settings.\n2. The system waits for the party code to be generated.\n3. The party code is returned in the response.\n4. The bot switches to spectator mode.\n5. The bot marks itself as ready.\n6. You and other players join, ready up, and start the match.\n\n**Callbacks:**\nIf a callback URL is provided, POST requests will be sent to it:\n- **settings:** When lobby settings change, a POST is sent to `{callback_url}/settings` with the `CsoCitadelParty` protobuf message as JSON.\n- **match start:** When the match starts, a POST is sent to `{callback_url}` with the match ID.\n\n_Protobuf definitions: [https://github.com/SteamDatabase/Protobufs](https://github.com/SteamDatabase/Protobufs)_\n\n**Note:**\nThe bot will leave the match 15 minutes after creation, regardless of match state.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | API-Key ONLY |\n| Key | 100req/30min |\n| Global | 1000req/h |\n","operationId":"create_custom","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomRequest"}}},"required":true},"responses":{"200":{"description":"Successfully fetched custom match id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomResponse"}}}},"400":{"description":"Provided parameters are invalid."},"429":{"description":"Rate limit exceeded"},"500":{"description":"Creating custom match failed"}}}},"/v1/matches/custom/{lobby_id}/leave":{"post":{"tags":["Custom Matches"],"summary":"Leave Lobby","description":"\nThis endpoint makes the bot leave the custom match lobby early.\nBy default the bot leaves automatically after 15 minutes, but this endpoint allows you to trigger it sooner.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | API-Key ONLY |\n| Key | 100req/30min |\n| Global | 1000req/h |\n","operationId":"leave","parameters":[{"name":"lobby_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully left the lobby."},"400":{"description":"Provided parameters are invalid."},"429":{"description":"Rate limit exceeded"},"500":{"description":"Leaving lobby failed"}}}},"/v1/matches/custom/{lobby_id}/ready":{"post":{"tags":["Custom Matches"],"summary":"Ready Up","description":"\nThis endpoint allows you to ready up for a custom match.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | API-Key ONLY |\n| Key | 100req/30min |\n| Global | 1000req/h |\n","operationId":"ready_up","parameters":[{"name":"lobby_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully ready up."},"400":{"description":"Provided parameters are invalid."},"429":{"description":"Rate limit exceeded"},"500":{"description":"Ready up failed"}}}},"/v1/matches/custom/{lobby_id}/start":{"post":{"tags":["Custom Matches"],"summary":"Start Match","description":"\nThis endpoint starts a custom match.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | API-Key ONLY |\n| Key | 100req/30min |\n| Global | 1000req/h |\n","operationId":"start","parameters":[{"name":"lobby_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully started the match."},"400":{"description":"Provided parameters are invalid."},"429":{"description":"Rate limit exceeded"},"500":{"description":"Starting match failed"}}}},"/v1/matches/custom/{lobby_id}/unready":{"post":{"tags":["Custom Matches"],"summary":"Unready","description":"\nThis endpoint allows you to unready for a custom match.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | API-Key ONLY |\n| Key | 100req/30min |\n| Global | 1000req/h |\n","operationId":"unready","parameters":[{"name":"lobby_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully unready."},"400":{"description":"Provided parameters are invalid."},"429":{"description":"Rate limit exceeded"},"500":{"description":"Unready failed"}}}},"/v1/matches/custom/{party_id}/match-id":{"get":{"tags":["Custom Matches"],"summary":"Get Match ID","description":"\nThis endpoint allows you to get the match id of a custom match.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 100req/s |\n| Key | - |\n| Global | - |\n","operationId":"get_custom","parameters":[{"name":"party_id","in":"path","required":true,"schema":{"type":"integer","format":"int64","minimum":0}}],"responses":{"200":{"description":"Successfully fetched custom match id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCustomMatchIdResponse"}}}},"400":{"description":"Provided parameters are invalid."},"429":{"description":"Rate limit exceeded"},"500":{"description":"Fetch Custom Match ID failed"}}}},"/v1/matches/metadata":{"get":{"tags":["Matches"],"summary":"Bulk Metadata","description":"\nThis endpoints lets you fetch multiple match metadata at once. The response is a JSON array of match metadata.\n\nWhen player info is included, each player object contains a `hero_build_id` field (if available) from demo analysis.\n\n> **Note:** The `hero_build_id` represents the first build the player had selected when the game started. It does not reflect any build changes made during the match.\n\n### Rate Limits:\n| Type | Limit |\n| ---- | ----- |\n| IP | 10req/min |\n| Key | 10req/10s |\n| Global | 100req/min |\n    ","operationId":"bulk_metadata","parameters":[{"name":"include_info","in":"query","description":"Include match info in the response.","required":false,"schema":{"type":"boolean","default":"true"}},{"name":"include_more_info","in":"query","description":"Include more match info in the response.","required":false,"schema":{"type":"boolean"}},{"name":"include_objectives","in":"query","description":"Include objectives in the response.","required":false,"schema":{"type":"boolean"}},{"name":"include_mid_boss","in":"query","description":"Include midboss in the response.","required":false,"schema":{"type":"boolean"}},{"name":"include_player_info","in":"query","description":"Include player info in the response.","required":false,"schema":{"type":"boolean"}},{"name":"include_player_kda","in":"query","description":"Include only K/D/A fields (`kills`, `deaths`, `assists`) for players.","required":false,"schema":{"type":"boolean"}},{"name":"include_player_items","in":"query","description":"Include player items in the response.","required":false,"schema":{"type":"boolean"}},{"name":"include_player_stats","in":"query","description":"Include player stats in the response.","required":false,"schema":{"type":"boolean"}},{"name":"include_player_death_details","in":"query","description":"Include player death details in the response.","required":false,"schema":{"type":"boolean"}},{"name":"game_mode","in":"query","description":"Filter matches based on their game
[...]
